body{
    margin: auto;
    max-width: 800px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}